@use '../../styles/_themes';

.base {
  & > span {
        margin-top: 0;
  }
}

.menu {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  display: flex;
  flex-direction: column;
}

.menuItem {
  background: var(--main-bg-color);
  color: var(--main-text-color);
  
  padding: 10px 16px;
  width: 100%;

  text-align: left;

  cursor: pointer;

  font-family: 'Oxanium';

  border-top: none;
  border-bottom: 1px solid var(--decorator-color);
  border-inline: 1px solid var(--main-text-color);
  
  &:first-child {
    border-top: 1px solid var(--main-text-color);
    border-radius: .5rem .5rem 0 0;
  }

  &:last-child {
    border-bottom: 1px solid var(--main-text-color);
    border-radius: 0 0 .5rem .5rem;
  }

  &:hover {
    background-color: var(--hover-bg-color);
  }
}