.heroSection {
  height: calc(100vh - 51px - 40px);
  display: grid;
  grid-template-columns: 100px 1fr 100px;
  grid-template-rows: 100px 1fr 100px;
  background: none;

  .heroDecorator {
    display: flex;
    align-items: center;
    justify-content: center;
    stroke: var(--main-text-color);
    stroke-width: 2px;

    &:nth-child(1) {
      grid-column: 1;
      grid-row: 1;
    }
    &:nth-child(2) {
      grid-column: 3;
      grid-row: 1;
    }
    &:nth-child(4) {
      grid-column: 1;
      grid-row: 3;
    }
    &:nth-child(6) {
      grid-column: 3;
      grid-row: 3;
    }
  }

  #title {
    grid-column: 2;
    grid-row: 2;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    text-align: left;

    h1 {
      font-size: 11vw;
      margin-bottom: 0.5rem;
      text-transform: uppercase;
    }

    h2 {
      font-size: 4vw;
      color: var(--primary-color);
      text-transform: uppercase;
    }
  }

  #chevronsContainer {
    grid-column: 2;
    grid-row: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    #chevrons {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .chevron {
        width: 20px;
        height: 10px;
        stroke: var(--main-text-color);
        stroke-width: 10px;
        animation: fade 4s infinite;

        &:nth-child(1) {
          animation-delay: 0s;
        }
        &:nth-child(2) {
          animation-delay: 1s;
        }
        &:nth-child(3) {
          animation-delay: 2s;
        }

        @keyframes fade {
          0%	{opacity: 0;}
          25% {opacity: 1;}
          50% {opacity: 0;}
          75% {opacity: 0;}
          100%{opacity: 0;}
        }
      }
    }
  }
}