$size: 1rem;
$icon-size: 17px;

.button {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    color: var(--main-text-color);
    fill: var(--main-text-color);
    stroke: var(--main-text-color);

    border: none;
    background: none;

    cursor: pointer;

    padding: .5rem 1rem;
    
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
        
    pointer-events: all;

    position: relative;

    .button-text {
        line-height: 1;

        font-weight: 500;
        font-family: 'Oxanium';

        font-size: $size;

        margin-top: 2px;

        text-transform: uppercase;

        svg, img {
            height: $icon-size;
            width: $icon-size;
        }
    }

    &.active {
        color: var(--main-text-color);
        fill: var(--main-text-color);
        stroke: var(--main-text-color);
        background-color: var(--main-bg-color);
    }
}