@use '../colors';
@use "sass:color";

.button {
  border-radius: 1.25rem;
  border: none;
  font-family: Oxanium;
  font-size: 1.2rem;
  height: 40px;
  margin: 0 5px;
  text-align: center;
  padding: 0 1rem;
  line-height: 42px;
  box-shadow: inset 0px 0px 0px 0px rgba(255, 255, 255,0.35), 
              inset 0px 0px 0px 0px rgba(0,0,0,0.09),
                    2px 2px 5px rgba(0,0,0,0.25);
  transition: box-shadow .2s ease-in-out/*, background-color 0.2s ease*/;
  box-sizing: border-box;
}

.button:hover {
  cursor: pointer;
}

@mixin button-hover($color) {
  /*background-color: color.scale($color, $lightness: 30%);*/
  box-shadow: inset 2px 2px 1px 1px rgba(255, 255, 255,0.35), 
              inset -3px -3px 2px 1px rgba(0,0,0,0.09), 
                    6px 6px 12px 1px rgba(0,0,0,0.25);
}

@each $name, $color in colors.$colors {
  .button:hover.#{$name},
  .button.hover.#{$name} {
    @include button-hover($color);
  }
}