.skillsGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-template-rows: auto 1fr;
  padding: 0 3rem 5rem 3rem;

  .skillColumn {
    display: grid;
    grid-template-rows: subgrid;
    grid-row: span 2;
    padding-inline: 2rem;

    .groupTitle {
      margin-bottom: 2rem;
      font-size: 2rem;
      font-family: var(--font-kode);
      text-transform: uppercase;
    }

    .skillList {
      list-style: none;
      padding: 0;
      margin: 0;
      display: flex;
      flex-direction: column;

      .skillItem {
        position: relative;
        padding: 0.9rem 1.5rem 0.6rem 1.5rem;
        font-size: 1.1rem;
        z-index: 1;
        border-left: 1px solid var(--decorator-color);
        transition: border-left-color .2s ease;
        display: inline-flex;
        align-items: center;

        &::before {
          content: "";
          position: absolute;
          left: -1px;
          width: 1px;
          height: 0;
          transition: height .2s ease;
          background-color: var(--highlight-color);
          margin-top: -2px; //idk why it doesn't align with the border...
        }

        &:hover {
          &::before {
            height: 100%;
          }
        }        
      }
    }
  }
}

@media (min-width: 1600px) {
  .skillsGrid {
    max-width: 80%;

    .skillColumn {
      padding-inline: 3rem;
    }
  }
}

@media (min-width: 2048px) {
  .skillsGrid {
    max-width: 60%;

    .skillColumn {
      padding-inline: 4rem;
    }
  }
}