$red: hsl(0, 100%, 50%);
$orange: hsl(17, 89%, 48%);
$yellow: rgb(255, 179, 0);
$green: hsl(145, 63%, 49%);
$blue: hsl(195, 86%, 56%);

$white: hsl(0, 0%, 100%);
$light-grey: hsl(12, 3%, 70%);
$grey: hsl(0, 0%, 48%);
$black-grey: hsl(0, 0%, 27%);
$black: hsl(0, 0%, 0%);