$red: hsl(0, 100%, 50%);
$orange: hsl(17, 89%, 48%);
$yellow: hsl(42, 100%, 50%);
$green: hsl(145, 63%, 49%);
$blue: hsl(195, 86%, 56%);

$white: hsl(0, 0%, 100%);
$light-grey: hsl(12, 3%, 70%);
$grey: hsl(0, 0%, 48%);
$dark-grey: hsl(0, 0%, 27%);
$dark: hsl(0, 0%, 0%);