@font-face {
  font-family: 'Bebas Neue';
  src: url('/fonts/BebasNeue-Regular.ttf') format('truetype');
}
$font-bebas: 'Bebas Neue', sans-serif;

@font-face {
  font-family: "Oxanium";
  src: url("/fonts/Oxanium-Medium.ttf");
}
$font-Oxanium: 'Oxanium', sans-serif;

@font-face {
  font-family: "Lato";
  src: url("/fonts/Lato-Regular.ttf");
}
$font-Lato: 'Lato', sans-serif;