@use "sass:color";
@use "colors" as *;

:root {
    color-scheme: light;
    --main-text-color: #{$black};
    --hover-text-color: #{color.scale($black, $lightness: 20%)};
    --active-text-color: #{color.scale($black, $lightness: 40%)};

    --contrast-text-color: #{$white};
    --hover-contrast-text-color: #{color.scale($white, $lightness: -20%)};
    --active-contrast-text-color: #{color.scale($white, $lightness: -40%)};

    --decorator-color: #{color.scale($black, $alpha: -90%)};

    --main-bg-color: #{$white};
    --contrast-bg-color: #{$black};
    --hover-bg-color: #{color.scale($white, $lightness: -5%)};
    --active-bg-color: #{color.scale($white, $lightness: -10%)};

    --highlight-color: #{$orange};
    --highlight-high-color: #{$orange};
    --highlight-medium-color: #{$black};
    --highlight-low-color: #{$grey};
    --hover-highlight-color: #{color.scale($orange, $lightness: 10%)};
    --active-highlight-color: #{color.scale($orange, $lightness: -10%)};

    $color: str-replace("" + var(----decorator-color), "#", "%23");
    --bg-dots: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 10 10'%3E%3Ccircle cx='5' cy='5' r='5' fill='#{$color}'/%3E%3C/svg%3E");
    --bg-hash: repeating-linear-gradient(315deg, #{color.scale($black, $alpha: -90%)} 0, #{color.scale($black, $alpha: -90%)} 1px, transparent 0, transparent 50%);
}

[data-theme='dark'] {
    color-scheme: dark;
    --main-text-color: #{$white};
    --hover-text-color: #{color.scale($white, $lightness: -20%)};
    --active-text-color: #{color.scale($white, $lightness: -40%)};

    --contrast-text-color: #{$black};
    --hover-contrast-text-color: #{color.scale($black, $lightness: 20%)};
    --active-contrast-text-color: #{color.scale($black, $lightness: 40%)};

    --decorator-color: #{color.scale($white, $alpha: -70%)};

    --main-bg-color: #{$black};
    --contrast-bg-color: #{$white};
    --hover-bg-color: #{color.scale($black, $lightness: 5%)};
    --active-bg-color: #{color.scale($black, $lightness: 10%)};

    --highlight-color: #{$orange};
    --highlight-high-color: #{$orange};
    --highlight-medium-color: #{$white};
    --highlight-low-color: #{$grey};
    --hover-highlight-color: #{color.scale($orange, $lightness: -10%)};
    --active-highlight-color: #{color.scale($orange, $lightness: 10%)};

    $color: str-replace("" + #{color.scale($black, $alpha: -90%)}, "#", "%23");
    --bg-dots: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 10 10'%3E%3Ccircle cx='5' cy='5' r='5' fill='#{$color}'/%3E%3C/svg%3E");
    --bg-hash: repeating-linear-gradient(315deg, #{color.scale($light-grey, $alpha: -70%)} 0, #{color.scale($light-grey, $alpha: -70%)} 1px, transparent 0, transparent 50%);
}