.legend {
  display: inline-flex;
  justify-content: center;
  gap: 2rem;

  .primary::before, .secondary::before, .third::before {
    width: 1rem;
    margin-right: 0.5rem;
    font-size: 1.5rem;
    line-height: 1rem;
    content: '●';
  }

  .primary::before {
    color: var(--legend-primary-color);
  }
  .secondary::before {
    color: var(--legend-secondary-color);
  }
  .third::before {
    color: var(--legend-third-color);
  }
}

.skills {
  display: grid;
  margin-top: 5rem;
  grid-template-columns: repeat(4, minmax(5rem, 20rem));
}

@media (max-width: 768px) {
  .skills {
    gap: 3rem;
  }
}

@media (min-width: 768px) {
  .skills {
    gap: 5rem;
  }
}

@media (min-width: 1200px) {
  .skills {
    gap: 8rem;
  }
}

@media (min-width: 1500px) {
  .skills {
    gap: 15rem;
  }
}