.experiences {
  padding: 0 5rem 5rem 3rem;
  display: flex;
  flex-direction: column;
  border-left: 1px solid var(--decorator-color);
  margin-left: 5rem;
}

@media (min-width: 1600px) {
  .experiences > div {
    max-width: 60%;
  }
}