@use '../../styles/_themes';

.carouselWrapper {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;

  .scrollContainer {
    display: flex;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
    -webkit-overflow-scrolling: touch;
    &::-webkit-scrollbar { display: none; }

    .carouselItem {
      flex: 0 0 100%;
      scroll-snap-align: start;
    }
  }

  .carouselControls {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--main-bg-color);

    .arrow, .position-indicators {
      transition: opacity 0.2s ease;
      pointer-events: none;
    }

    .arrow {
      background: var(--main-bg-color);
      border: none;
      font-size: 2rem;
      padding: 10px;
      cursor: pointer;
      z-index: 2;
      stroke: var(--main-text-color);
      stroke-width: 20px;

      transition: stroke 0.2s ease, background-color 0.2s ease, opacity 0.3s ease, visibility 0.3s ease;

      svg {
        display: block;
      }

      &:hover {
        background: var(--highlight-color);
        stroke: var(--contrast-text-color);
      }

      &.prev { left: 10px; }
      &.next { right: 10px; }
    }

    .position-indicators {
      display: flex;
      flex-direction: column;
      gap: 8px;
      z-index: 2;
      padding: 6px;
      background-color: var(--main-bg-color);

      .position-indicator {
        width: 20px;
        height: 20px;
        border: none;
        background: var(--contrast-bg-color);
        cursor: pointer;
        transition: width 0.2s ease, background-color 0.2s ease;

        &.active { 
          background: var(--highlight-color);
          width: 20px;
        }
      }
    }
  }

  &:hover {
    .arrow, .position-indicators {
      opacity: 1;
      pointer-events: all;
    }
  }
}

@media (hover: none) {
  .carouselWrapper .position-indicators {
    opacity: 1;
    pointer-events: all;
  }
  .arrow { 
    display: none; 
  }
}