@use "sass:color";
@use '../colors';

.color-square {
  width: 150px;
  height: 150px;
  text-align: center;
  line-height: 150px;
}

@each $name, $color in colors.$colors {
  .#{$name} {
    background-color: $color;
  }
}

@each $name, $color in colors.$colors {
  .#{$name}-text {
    color: $color;
  }
}


.black, .dolomite, .granite, .obsidian {
  color: white;
}

#buttons {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1rem;
  min-height: 5rem;
}

.dots-tests .color-square {
  display: flex;
  justify-content: center;
  align-items: center;
}

