.education {
  padding: 0 5rem 5rem 3rem;
  display: flex;
  flex-direction: column;
  border-left: 1px solid var(--decorator-color);
  margin-left: 5rem;
}

@media (min-width: 1600px) {
  .education > div {
    max-width: 60%;
  }
}

@media (max-width: 500px) {
  .education {
    margin-left: 3rem;
  }
}