.navBar {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: space-between;
}

 #nav-bar-content {
    align-items: center;
    display: flex;
    flex-direction: row;
    height: 100%;
    justify-content: center;
    width: 100%;

    #mobile-nav-bar, #mobile-popup {
        display: none;
    }

    #nav-items {
        height: 100%;
        align-items: center;
        display: flex;
        flex-direction: row;
        justify-content: center;

        .nav-button {
            height: 100%;

            &:hover {
                color: var(--highlight-color);
                &::before, &::after {
                    width: 100%;
                    opacity: 1;
                }
            }

            &::before, &::after {
                content: '';
                height: 1px;
                width: 0;
                background: var(--highlight-color);
                position: absolute;
                transition: width 0.2s, opacity 0.2s;
            }

            &::before {
                top: -1px;
            }
            &::after {
                bottom: -1px;
            }

            &[data-active="true"]::before {
                opacity: 1;
                transform: scale(1);
            }
        
            & div::before, & div::after {
                content: '';
                height: 6px;
                width: 6px;
                display: inline-block;
            }

            & div::before {
                background: var(--main-text-color);
                margin-right: 9px;
                margin-bottom: 1px;
                opacity: 0;
                transform: scale(0);
                transition: opacity 0.2s, transform 0.2s, background-color 0.2s;
            }

            &:hover div::before {
                background: var(--highlight-color);
            }

            & div::after {
                background: transparent;
                margin-left: 9px; 
                width: 6px;
            }

            &[data-active="true"] div::before {
                opacity: 1;
                transform: scale(1);
            }
        }
    }
}

@media (max-width: 850px) {
    #nav-bar-content {
        position: relative;

        #nav-items {
            display: none;
        }

        #mobile-nav-bar {
            display: flex;
            justify-content: space-between;
            height: 100%;
            width: 100%;
            
            #mobile-burger {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 53px;
                height: 100%;
                cursor: pointer;
                border-right: 1px solid var(--decorator-color);
                
                &::after {
                    content: '';
                    width: 0;
                    height: 1px;
                    background: var(--highlight-color);
                    position: absolute;
                    transition: width 0.2s;
                    bottom: -1px;
                    right: auto;
                }
                
                &:hover, &.active {
                    color: var(--highlight-color);

                    &::after {
                        height: 1px;
                        width: 100%;
                    }
                }
            }

            #spacer {
                flex: 1 1 auto;
                height: 100%;

                .current-section {
                    display: flex;
                    align-items: center;
                    justify-content: start;
                    height: 100%;
                    margin-left: 1rem;
                    font-family: var(--font-oxanium);
                    text-transform: uppercase;

                    &::before {
                        content: '';
                        display: inline-block;
                        width: .5rem;
                        height: .5rem;
                        margin-right: 5px;
                        margin-bottom: 3px;
                        background-color: var(--highlight-color);
                    }
                }
            }

            #mobile-utility {
                border-left: 1px solid var(--decorator-color);
            }
        }

        #mobile-popup {
            display: none;
            position: absolute;
            top: 51px;
            background-color: var(--main-bg-color);
            border-bottom: 1px solid var(--decorator-color);
            width: 100%;
            z-index: 1;

            .nav-button {
                display: flex;
                padding-block: 2rem;
                padding-left: 2rem;
                border: 1px solid transparent;
                transition: border-color .2s ease;
                justify-content: start;

                &:hover {
                    border: 1px solid var(--highlight-color);
                }

                & div::before, & div::after {
                    content: '';
                    height: 6px;
                    width: 6px;
                    display: inline-block;
                }

                & div::before {
                    background: var(--main-text-color);
                    margin-right: 9px;
                    margin-bottom: 1px;
                    opacity: 0;
                    transform: scale(0);
                    transition: opacity 0.2s, transform 0.2s, background-color 0.2s;
                }

                &:hover div::before {
                    background: var(--highlight-color);
                }

                & div::after {
                    background: transparent;
                    margin-left: 9px; 
                    width: 6px;
                }

                &[data-active="true"] div::before {
                    opacity: 1;
                    transform: scale(1);
                }
            }

            &.open {
                display: block;
            }
        }
    }
}

@media (max-width: 1200px) {
    #nav-bar-content #nav-items .nav-button {
        padding-inline: 0;
    }
}