$colors: (
  'white': hsl(0, 0%, 100%),
  'black': hsl(0, 0%, 0%),
  'quartz': /*#e7e2de,*/ hsl(12, 8%, 87%),
  /*'limestone': #c9c5c2,*/
  'flint': /*#b2aead,*/ hsl(15, 3%, 70%),
  'dolomite': /*#747273,*/ hsl(0, 0%, 48%),
  /*'granite': /*#545351,*/ /*#5D5A5B,*/
  'obsidian': /*#252525,*/ hsl(0, 0%, 17%),
  'apricot': hsl(42, 100%, 50%),
  'orange': /*#ff792e,*/ hsl(17, 98%, 56%),
  /*'peach': #fc4948,*/
  'strawberry': hsl(343, 86%, 56%),
  'sky': hsl(200, 67%, 62%)
);
