@use '../../styles/_themes';

.section {
  color: var(--text-color);

  font-family: 'Oxanium';

  color: var(--main-text-color);

  & .container {
    h1 {
      font-size: 10rem;
      margin-bottom: 1rem;
      text-transform: uppercase;
    }

    h2 {
      font-size: 5rem;
      margin-bottom: 1rem;
      text-transform: uppercase;
    }
  }
}