.section {
  font-family: var(--font-oxanium);

  color: var(--main-text-color);
  
  border-bottom: solid 1px var(--decorator-color);
  
  .sectionHeader {
    font-family: var(--font-kode);
    display: flex;
    align-items: center;
    gap: .5rem;
    padding: 3rem 3rem 2.7rem 3rem;

    .sectionNumber {
      font-size: 2rem;
      color: var(--highlight-color);
      display: inline-flex;
      transform: rotateZ(270deg);

      &::before {
        content: "";
        display: inline-block;
        width: 1rem;
        height: 1rem;
        margin-top: .79rem;
        margin-right: .3rem;
        background-color: var(--highlight-color);
      }
    }

    h3 {
      font-size: 5rem;
      text-transform: uppercase;
    }
  }  
}

@media (max-width: 850px) {
  .section .sectionHeader {
    padding-left: 1rem;

    .sectionNumber {
      font-size: 1.5rem;

      &::before {
        width: .8rem;
        height: .8rem;
        margin: .41rem;
      }
    }

    h3 {
      font-size: 3rem;
    }
  }
}