#about-section {
  display: flex;
  #about-section-wrapper {
    flex: 0 0 60%;

    #about-section-content {
      text-align: justify;
      padding: 0 4rem 5rem 4rem;
      font-size: 1.5rem;
    }
  }
}

@media (max-width: 850px) or  (max-height: 500px) {
  #about-section #about-section-wrapper {
    flex: 0 0 100%;
  }
}