#about-section {
  display: flex;
  #about-section-wrapper {
    flex: 0 0 60%;

    #about-section-content {
      text-align: justify;
      padding: 0 2rem 5rem 2rem;
    }
  }
}

@media (max-width: 850px) {
  #about-section #about-section-wrapper {
    flex: 0 0 100%;
  }
}