@use '../../../styles/fonts' as *;

.pageWrapper {
  display: flex;
  justify-content: center;
  padding: 40px 0;
  min-height: 100vh;
  background-color: black;
}

.a4Page {
  width: 210mm;
  height: 297mm;
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
  border: 1px solid black;
  background-color: white;

  .mainContainer {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    height: 100%;
    width: 100%;
  }

  * {
    box-sizing: border-box;
    font-family: 'lato';
    line-height: 15px;
    font-size: 12px;
    font-weight: 500;
  }
}

.header {
  padding: 20px;  
  position: relative;

  * {
    z-index: 1;
  }

  .title {
    font-size: 28px;
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: hsl(17, 89%, 48%);
    line-height: normal;
  }

  .name, .surname {
    font-size: 24px;
    font-weight: normal;
    line-height: normal;
  }

  .surname {
    text-transform: uppercase;
  }

  .intro {
    margin-top: 10px;
    font-size: 12px;
  }
}

.headerBackground {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  opacity: .2;
  background: url(https://cvdesignr.com/site/template/views/templates/template_20/templatesbg/Background1.jpg);
  background-size: cover;
  z-index: 0;
}

.body {
  display: grid;
  grid-template-columns: auto 175px;
  padding: 10px 20px 20px 20px;
  column-gap: 20px;

  .experienceSection, .diplomaSection, .skillsSection {
    display: flex;
    flex-direction: column;

    &:not(:first-child) {
      margin-top: 20px;
    }
  }

  .skillsSection {
    gap: 10px;
  }

  .sectionTitle {
    font-size: 18px;
    font-weight: 400;
    font-family: $font-bebas;
    text-transform: uppercase;
    padding-bottom: 5px;
  }

  .leftColumn {
    display: flex;
    flex-direction: column;
  }

  .rightColumn {
    display: flex;
    flex-direction: column;
    gap: 10px;

    a {
      color: black;
    }

    .coordinatesSection, .linksSection {
      display: flex;
      flex-direction: column;
      gap: 5px;
    }

    .skillsSection {
      gap: 5px;

      h3:not(:first-child) {
        margin-top: 10px
      }
    }
  }
}

// Ensure colors and backgrounds print correctly
@media print {
  * {
    -webkit-filter: none !important;
    filter: none !important;
    transition: none !important;
    transform: none !important;
  }

  @page {
    size: A4;
    margin: 0;
  }

  body {
    -webkit-print-color-adjust: exact; /* Chrome/Safari: Force background colors/images */
    print-color-adjust: exact;         /* Firefox: Force background colors/images */
  }

  .pageWrapper {
    padding: 0 !important;
    background: none !important;
  }

  .a4Page {
    margin: 0 !important;
    box-shadow: none !important;
    width: 210mm;
    height: 297mm;
  }
}