@use "styles/_themes";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 12px;
}

:root {
    --decorator-margin: 20px;
    --navbar-height: 51px;
    font-size: 12px;
}

::selection {
    background-color: var(--highlight-color);
    color: var(--contrast-text-color);
}

body, html {
    min-height: 100%;
    background-color: var(--main-bg-color);
}

.dotted-background {
    background-image: var(--bg-dots);
}

.full-background {
    background-color: var(--main-bg-color);
}

.hashed-background {
    background-image: var(--bg-hash);
    background-size: 10px 10px;
}