@use "styles/_themes";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 12px;
}

:root {
    font-size: 12px;
}

body, html {
    min-height: 100%;
    background-color: var(--main-bg-color);
}